@import "../../../styles/variables.scss";

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-section {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    grid-area: content;
    gap: 8px;
    flex-grow: 3;
    background: linear-gradient(124deg, #005493 0%, #00a5eb 87%);
    background-size: cover;

    .center {
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      place-content: center;
      align-items: center;

      .logo {
        width: 250px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 10px;

        img {
          max-width: 100%;
          height: auto;
          vertical-align: top;
          border: none;
        }
      }

      .description {
        font-size: 18px;
        text-align: center;
        max-width: 600px;
        color: $text-color-white;
      }
    }
  }

  .form-section {
    flex-grow: 1;
    padding: 0 35px;
    margin: 30px 0;

    img {
      margin-bottom: 30px;
      max-height: 100px;
      max-width: 150px;
    }

    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    .btn-wrapper {
      display: flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 30px;

      .divider {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;

        font-size: 14px;
        color: $gray-bg;
        font-weight: 400;
        text-transform: uppercase;

        div {
          flex-grow: 1;
          height: 2px;
          background-color: $gray-bg;
        }
      }

      button {
        width: 100%;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        background: transparent;
        padding: 12px 24px;
        cursor: pointer;

        &:disabled {
          opacity: 0.8;
        }

        &.btn-primary {
          background-color: $primary-color;
          color: white;
          box-shadow: 0px 8px 12px
            rgba(
              148.23004603385925,
              64.33935597538948,
              255,
              0.20000000298023224
            );
        }

        &.btn-secondary {
          border: 1px solid $primary-color;
          color: $primary-color;
        }
      }
    }
  }
}

@media (max-width: 870px) {
  main {
    .main-section {
      display: none;
    }
  }
}
